# Environnement virtuel
venv/


.DS_Store

# Dossiers à ignorer
old_codes/
fruits/

# Fichiers spécifiques à ignorer
fruits.zip

# Autres fichiers générés par le système
__pycache__/
*.pyc
*.pyo
*.pyd